{% extends 'base.html.twig' %}

{% block title %}Mon compte Symfony Shop
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>

	Bienvenue
	{{ app.user.firstname}}
	dans votre espace membre


{% endblock %}
